/* Theme independent styles */

sq_view {
    font-family: cantarell, sans-serif;
    font-size: 1.5em;
}

/* Becomes readable with a special font */
sq_view.gr_polytonic {
    font-family: GFSDidotClassic, cantarell, sans-serif;
    font-size: 1.75em;
}

sq_view.wide.gr_polytonic {
    font-size: 1.4em;
}

sq_view.in_mal {
    font-size: 1.195em;
}

sq_view.wide.in_mal {
    font-size: 1.25em;
}

sq_view.ir_azb {
    font-size: 1.368em;
}

sq_view.jp {
    font-size: 1.425em;
}

sq_view.wide.jp {
    font-size: 1.5em;
}

sq_view.wide.emoji {
    font-size: 1.225em;
}

sq_button {
    border-radius: 4px;
    margin: 2px;
}

sq_view.wide sq_button {
    margin: 3px;
}

sq_button.latched,
sq_button.locked {
    font-weight: bold;
}

sq_button.action {
    font-size: 0.75em;
}

sq_button.small {
    font-size: 0.5em;
}

sq_button.small-row {
    font-size: 0.575em;
}

sq_view.pin sq_button {
    border-radius: 0px;
    margin: 1px 1px 1px 1px;
}
